
    body {
        font-family: 'Open Sans', sans-serif;
        ;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
    }

     article,
     aside,
     figcaption,
     figure,
     footer,
     header,
     hgroup,
     main,
     nav,
     section {
         display: block;
     }

     section {
        padding-bottom: 3rem;
     }

     .container textarea {
         resize: none;
     }

    .lead-pre {
        font-size: 1.25rem;
        font-weight: 300;
        font-family: 'Segoe UI';
    }
    
    .lista-pesquisa {
        border: 1px solid rgb(240,240,240);
    }
    .lista-pesquisa li {
        background-color: #FFF;
        padding: 0.4em 0.8em;
    }

    .lista-pesquisa li:hover {
        background-color: rgb(243, 243, 240);
        border: 1px solid rgb(220,220,220);
    }
    div#compList{
        margin-top: 0.1em;
        border-radius: 5px;
    }
     /*Conteúdo inicial da página
     */

    header.masthead {
        position: relative;
        background-color: #343a40;
        background: url("../imagem/fundo1(2).jpg") no-repeat center center;
        background-size: cover;
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    header.masthead .overlay {
        position: absolute;
        background-color: #9cc5ee;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.15;
    }

    header.masthead h1 {
        font-size: 2rem;
    }

    @media (min-width: 768px) {
        header.masthead {
            padding-top: 12rem;
            padding-bottom: 12rem;
        }

        header.masthead h1 {
            font-size: 3rem;
        }
        
    }


    /*FORMATAÇÃO DE ITENS DO BOOTSTRAP */

    header .navbar-dark .navbar-nav .nav-link {
        color: rgba(255, 255, 255, 1);
    }

    header .navbar-dark .navbar-nav .nav-link:hover {
        transform: scale(1.07,1.07);
    }

    .navbar-dark .navbar-brand:hover {
        transform: scale(1.07,1.07);
    }

    .container {
        padding-top: 7rem;
        padding-bottom: 5rem;
    }

    .container-small{
        padding-top: 2rem;
        padding-bottom: 2rem
    }

    .card .card-header {
        font-weight: 600;
        padding: 0 1em 0 1em;
        line-height: 4em;
        font-family: 'Segoe UI';
    }

    .card-header:hover {
        background-color: rgba(0,0,0,0.08);
    }

     h5.display-4 {
        font-size: 2em;
        padding: 0;
        font-weight: 400;
    }

    .card-header .btn, .card-header a {
        font-size: 1.5em;
        width: 2em;
        height: 2em;
        margin-top: 0.35em;
        padding: 0;
        line-height: 1.8em;
    }

    .div-add {
        border-radius: 4px;
        padding: 0.3em 1.3em;
        margin: 0.2em 0;
        background-color: #e5f5ab;
    }

    .div-add .lead {
        font-size: 1.7em;
    }

    .div-add input[type='checkbox'] {
        /* Double-sized Checkboxes */
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
        transform: scale(2);
        margin-top: 0.6em;
    }

    .div-add-pergunta {
        background-color: #f8dfcb;
    }

    /* PERSONALIZAÇÃO DE ITENS*/

#sectionCandidatoPerfil p {
    margin-bottom: 0.15em;
}    

    .div-competencia {
        padding: 0 1em 0 1em;;
        line-height: 2em;
        background-color: rgb(247, 247, 247);
        text-align: center;
        margin: 0.2em;

        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 7px;
    }

    .div-competencia .btn {
        padding: 0.1em 0.4em;
        margin-top: -1.2em;
    }

    .div-competencia .custom-select {
        margin-top: -1em;
    }

    #sectionRecrutador .btn-grande {
        color: black;
        background-color: #bddaf7;
        width: 100%;
        margin: 0.2em;
        border: none;
    }

    #sectionRecrutador .btn-grande:hover {
        background-color: #9cc5ee;
    }

    /*
    Relacionado a divisão dos conteúdos*/

    .page-section-small {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }

    .espacamento {
        padding-top: 5rem;
    }

    .slide img {
        width: 100%;
        height: 50%;
    }

    .limitador {
        white-space: normal;
        height: 5.9em;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .bg-light {
        background-color: #f8f9fa !important;
    }


    .btn-custom {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
    }

    .btn-icon {
        padding: 8px;
        background: #ffffff;
    }

    


    /*
    Espaçamento de icones e itens*/

    .features-icons {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .features-icons .features-icons-item {
        max-width: 20rem;
    }

    .features-icons .features-icons-item .features-icons-icon {
        height: 7rem;
    }

    .features-icons .features-icons-item .features-icons-icon i {
        font-size: 4.5rem;
    }

    .features-icons .features-icons-item:hover .features-icons-icon i {
        font-size: 5rem;
    }

    /*Página inical*/

    .showcase .showcase-text {
        padding: 3rem;
    }

    .showcase .showcase-img {
        min-height: 30rem;
        background-size: cover;
    }


@media screen {

}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .showcase .showcase-text {
        padding: 7rem;
    }

}

/* tablets/desktops and up ----------- */
@media (min-width: 992px) {


}

/* large desktops and up ----------- */
@media (min-width: 1400px) {


}