
    article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
        display: block;
    }

    #titulo{
        height: 120px;
        padding: 50px 100px 80px 30px;
    }

    .highlights {
        padding: 10px 10px 110px 10px;
        background-color: rgba(76, 161, 247, 0.69);
    }
    
    .highlights-small {
        padding: 10px 0;
        background-color: rgba(48, 95, 141, 0.24);
    }
